np---
import Layouts from "../layouts/layouts.astro";
import Navigation from "../layouts/navigation.astro";
---

<Layouts>
  <Navigation>
    <Navigation />
  </Navigation>
  <section class="section info section-info">
    <h1 class="h1-info">julioricardo95</h1>
    <div class="div-info">
      <h2 class="h2-info">agencia de publicidad</h2>
      <p class="p-info">
        En nuestra agencia de marketing y publicidad, nos comprometemos con
        nuestros clientes para ofrecer soluciones y estrategias que ayuden a
        hacer crecer su negocio en Internet o físico.
      </p>
      <p class="p-info">
        Diseñamos tu logo y marca para que tus clientes puedan reconocerte de
        manera inmediata. Ya sea en promoción de marca o producto, contenido
        grafico imprimibles o digital, productos o servicios
      </p>
      <p class="p-info">
        Campañas publicitarias en cualquier plataforma que necesites o en
        anuncios publicitarios con clientes objetivos en diferentes plataformas.
        También trabajamos para mejorar tu ranking en los resultados de búsqueda
        de manera orgánica o con SEM.
      </p>
      <p class="p-info">
        Analizamos los datos recopilados a lo largo del tiempo para proyecciones
        de ventas o información relevante para identificar patrones y tendencias
      </p>
      <p class="p-info">
        Siempre buscamos nuevas formas e innovadoras de conectar y conocer mejor
        a tus clientes, para que puedas brindarles un servicio personalizado y
        de calidad.
      </p>
    </div>

    <div class="div-info" id="marca">
      <h2 class="h2-info">Marca</h2>
      <p class="p-info">
        Una marca es más que un nombre o un logo, es la identidad de tu empresa
        y lo que te hace destacar en un mercado competitivo. Un buen nombre y un
        logo efectivo son fundamentales para crear una marca exitosa, ya que
        permiten que los consumidores te identifiquen y diferencien de la
        competencia.
      </p>
      <p class="p-info">
        En nuestra empresa, contamos con expertos en branding que comprenden la
        importancia de crear una marca efectiva y atractiva para tu empresa.
        Trabajamos en estrecha colaboración contigo para entender tus
        necesidades y objetivos, y desarrollamos una estrategia de branding que
        te ayude a alcanzarlos.
      </p>
      <p class="p-info">
        Creamos nombres y logotipos efectivos y atractivos que representen la
        esencia de tu empresa y lo que la hace única. Nuestro enfoque
        personalizado garantiza que cada uno de nuestros diseños se adapte
        perfectamente a tu empresa y transmita el mensaje correcto a tus
        clientes.
      </p>
    </div>

    <div class="div-info">
      <h2 class="h2-info">Imagen</h2>
      <p class="p-info">
        Creación de contenido gráfico para satisfacer todas las necesidades de
        tu empresa. Ya sea que necesites ilustraciones, posts, catálogos u otros
        contenidos gráficos, estamos aquí para ayudarte.
      </p>
      <p class="p-info">
        Contamos con un equipo de expertos en diseño gráfico que trabajan juntos
        para crear contenido de alta calidad que se adapte a tus necesidades.
        Nos enorgullece trabajar estrechamente con nuestros clientes para
        entender sus requisitos y objetivos, y luego desarrollar soluciones
        personalizadas para satisfacerlos.
      </p>
    </div>

    <div class="div-info">
      <h2 class="h2-info">Video</h2>
      <p class="p-info">
        Creación y edición de audiovisuales para satisfacer todas las
        necesidades de tu empresa. Desde cortos de 15 segundos hasta
        producciones más largas, estamos aquí para ayudarte.
      </p>
      <p class="p-info">
        Contamos con un equipo de expertos en producción audiovisual que
        trabajan juntos para crear contenido de alta calidad que se adapte a tus
        necesidades. Nos enorgullece trabajar estrechamente con nuestros
        clientes para entender sus requisitos y objetivos, y luego desarrollar
        soluciones personalizadas para satisfacerlos.
      </p>
      <p class="p-info">
        Ya sea que necesites contenido para tus redes sociales, sitio web o para
        promocionar tu marca, nuestro equipo está a tu disposición para ayudarte
        a crear producciones audiovisuales atractivas y efectivas. Podemos
        trabajar con cualquier formato y adaptarnos a cualquier estilo que
        necesites.
      </p>
    </div>

    <div class="div-info">
      <h2 class="h2-info">Google my Business</h2>
      <p class="p-info">
        Integración en el buscador de Google y otros. Configuración de seo de tu
        pagina web y obtener el top #1 en búsquedas de manera orgánica
      </p>
    </div>

    <div class="div-info" id="web">
      <h2 class="h2-info">Web</h2>
      <p class="p-info">
        ofrecemos soluciones de diseño web efectivas y personalizadas que se
        adaptan perfectamente a tus necesidades y objetivos. Si buscas un sitio
        web que se adapte a dispositivos móviles y ordenadores, tenemos la
        solución perfecta para ti.
      </p>
      <p class="p-info">
        Nuestro equipo de diseño web se asegurará de que tu sitio web sea
        completamente adaptativo, lo que significa que se verá y funcionará
        perfectamente en dispositivos móviles, tabletas y ordenadores. Además,
        diseñaremos dos páginas que incluyen una slider atractiva, un formulario
        de contacto que permita a los visitantes comunicarse contigo fácilmente,
        enlaces a tus redes sociales y una ubicación de Google Maps para ayudar
        a los clientes a encontrarte.
      </p>
      <p class="p-info">
        También podemos incluir un blog en tu sitio web, lo que te permitirá
        publicar contenido útil e interesante para tus visitantes, mejorar tu
        posicionamiento en motores de búsqueda y aumentar tu visibilidad en
        línea.
      </p>
      <p class="p-info">
        Si necesitas un sitio web adaptativo, moderno y efectivo que cumpla con
        tus necesidades y objetivos, nuestro equipo está aquí para ayudarte.
      </p>

      <ul class="ul-info">
        <li>
          <h3 class="h3-info">Seo</h3>
          <p class="p-info">Top #1 en búsquedas de manera orgánica</p>
        </li>

        <li>
          <h3 class="h3-info">Lading page</h3>
          <p class="p-info">Una página de inicio presentando lo que ofreces</p>
        </li>
        <li>
          <h3 class="h3-info">e-commerce</h3>
          <p class="p-info">pagina para el comercio electrónico</p>
        </li>
        <li>
          <h3 class="h3-info">catalogo</h3>
          <p class="p-info">
            muestra todos los productos que ofreces de manera más eficiente
          </p>
        </li>
      </ul>
    </div>

    <div class="div-info">
      <h2 class="h2-info">Ads</h2>
      <p class="p-info">
        Si buscas una forma efectiva de darte a conocer en poco tiempo o lograr
        un rápido empujón en tus ventas u objetivos comerciales, nuestro equipo
        está aquí para ayudarte. En nuestra empresa, ofrecemos soluciones
        efectivas y personalizadas para ayudarte a alcanzar tus objetivos de
        negocio.
      </p>

      <ul class="ul-info">
        <li>
          <h3 class="h3-info">Social media ads</h3>
          <p class="p-info">
            En las plataformas de redes sociales que necesites ya sea Facebook
            Instagram LinkedIn y más. cada una con diferente tipo de objetivo y
            público objetivo
          </p>
        </li>
        <li>
          <h3 class="h3-info">Google ads</h3>
          <p class="p-info">
            Mientras navegan el usuario puedes mostrarles anuncios de tus
            servicios o productos dependiendo del tipo de pagina
          </p>
        </li>
        <li>
          <h3 class="h3-info">Email marketing</h3>
          <p class="p-info">
            Perfecto para retener clientes antiguos o nuevos enviándole
            novedades promociones cupones de descuentos
          </p>
        </li>
        <li>
          <h3 class="h3-info">Sem</h3>
          <p class="p-info">
            Se el top 1 en las búsquedas en los servicios o productos que
            ofreces apareciendo en los términos de búsqueda relevantes
          </p>
        </li>
      </ul>
    </div>

    <div class="div-info" id="datos">
      <h2 class="h2-info">Datos</h2>
      <p class="p-info">
        ofrecemos servicios de interpolación de datos para ayudarte a obtener
        informes precisos y proyecciones de ventas efectivas. Utilizamos
        técnicas avanzadas de análisis de datos para recopilar y analizar
        información relevante, lo que nos permite identificar patrones y
        tendencias que puedan ayudarte a tomar decisiones informadas para tu
        negocio.
      </p>
      <p class="p-info">
        Nuestros expertos en análisis de datos pueden ayudarte a encontrar
        soluciones personalizadas para cualquier problema que enfrentes en
        términos de análisis de datos. Además, también podemos proporcionarte
        proyecciones de ventas precisas para que puedas planificar el
        crecimiento de tu negocio.
      </p>
    </div>

    <div class="div-info">
      <p class="p-info">
        Entendemos que el tiempo es un recurso valioso en el mundo empresarial,
        por lo que trabajamos de manera eficiente y efectiva para ofrecerte
        soluciones rápidas que te permitan alcanzar tus objetivos en poco
        tiempo. Ya sea que necesites una campaña publicitaria efectiva, una
        estrategia de marketing digital o cualquier otro tipo de solución de
        negocios, podemos ayudarte a lograrlo.
      </p>
      <p class="p-info">
        No importa el tamaño de tu empresa o la industria en la que opere,
        estamos aquí para ayudarte a lograr tus objetivos de negocio de manera
        rápida y efectiva.
      </p>
      <p class="p-info">
        Contáctanos hoy mismo para obtener más información sobre cómo podemos
        ayudarte.
      </p>
    </div>
  </section>
</Layouts>
