/*vision*/
.section-vision-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-vision-mg{
    padding: 20px;
}
.div-vision-mg{
    max-width: 450px;
    margin: 20px;
}
.section-vision-flex{
    display: flex;
    align-items: center;
}
.vision-i{
    color: white;
    font-size: 30px;
    margin: 10px
}
@media (max-width:450px){
    .section-vision-grid{
        grid-template-columns: 1fr;
    }
    .section-vision-mg{
        padding: 5px;
    }
    .div-vision-mg{
        margin: 10px;
    }
    .vision-i{
        margin: 0px 5px 0px 0px ;
        font-size: 20px;
    }
}


/*footer
display: grid;
grid-template-columns: repeat(auto-fill,minmax(min(100%,15rem),1fr));
gap: 1rem;

*/
.footer-grid-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.footer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    aspect-ratio: 3/4;
    width: 280px;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}
.footer-card-center{
    align-items: center;
}
.footer-img{
    width: 120px;
}
.footer-flex-ul{
    display: flex;
}
.footer-block-a{
    display: block;
    font-size: 1rem;
    color:black;
    margin: 0px 0px 0px 5px;
}
.footer-div-4-flex{
    display: flex;
    justify-content: space-around;
}
.footer-div-4-i{
    color: black;
    margin: 3px;
    font-size: 1.3rem;
}
.footer-div-4-i:hover{
    color: rgba(68, 68, 68, 0.445);
}
/*Credits

*/
.section-credits{
    border-radius: 20px 20px 0px 0px;
}
.section-credits-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 340px;
    
}
.credits-img{
    width: 45px;
    margin: 5px;
}
.credits-span{
    font-size: medium;
}