<section class="section section-about section-grid-about" id="about">
  <div class="section-margin-about">
    <div class="julioricardo95">
      <h2 class="o">julioricardo95</h2>
      <br />
      <h3>Somos una Empresa que se especializa en el área digital</h3>
      <br />
      <p>
        En nuestra agencia de marketing y publicidad, nos comprometemos con
        nuestros clientes para ofrecer soluciones y estrategias que ayuden a
        hacer crecer su negocio en Internet. Contamos con equipos de expertos
        especializados en áreas específicas para lograr el mejor rendimiento y
        obtener los mejores resultados.
      </p>
      <br />
      <p>
        Diseñamos tu logo y marca para que tus clientes puedan reconocerte de
        manera inmediata, ya sea en campañas publicitarias en cualquier
        plataforma que necesites o en anuncios publicitarios con clientes
        objetivos en diferentes plataformas. También trabajamos para mejorar tu
        ranking en los resultados de búsqueda de manera orgánica o con SEM
      </p>
      <br />
      <p>
        Siempre buscamos nuevas formas e innovadoras de conectar y conocer mejor
        a tus clientes, para que puedas brindarles un servicio personalizado y
        de calidad. En resumen, estamos aquí para ayudarte a destacar en línea y
        hacer crecer tu negocio en el mundo digital.
      </p>
    </div>
  </div>
  <div class="section-margin-about">
    <img class="section-about-img imgqs" src="/img/como.png" alt="como equipo"/>
  </div>
</section>
