<section class="section section-contact " id="contact">
  <div class="contacto">
    <div class="secflex secp">
      <img class="seccont" src="/img/favicon.svg" alt="julio" />
      <h2 class="h2c">Digital Marketing Agency</h2>
    </div>
    <ul class="secflex secul">
      <li class="secContac">
        <a href="https://www.behance.net/julioricardo95">
          <i class="fa-brands fa-behance iccon"></i></a
        >
      </li>
      <li class="secContac">
        <a href="https://www.linkedin.com/in/julioricardo95/">
          <i class="fa-brands fa-linkedin iccon"></i></a
        >
      </li>
      <li class="secContac">
        <a href="tel:+50558567432"> <i class="fa-solid fa-phone iccon"></i></a>
      </li>
      <li class="secContac">
        <a href="https://twitter.com/julioricardo_95">
          <i class="fa-brands fa-twitter iccon"></i></a
        >
      </li>
      <li class="secContac">
        <a href="https://www.facebook.com/julioricardo1995">
          <i class="fa-brands fa-facebook iccon"></i></a
        >
      </li>
      <li class="secContac">
        <a href="https://www.instagram.com/julioricardo_95/">
          <i class="fa-brands fa-instagram iccon"></i></a
        >
      </li>
      <li class="secContac">
        <a href="https://github.com/julioricardo95">
          <i class="fa-brands fa-github iccon"></i></a
        >
      </li>
    </ul>
  </div>
</section>
