<section  class="section vision section-vision-grid section-vision-mg" id="vision">
    <div class="div-vision-mg">
        <div class="section-vision-flex">
            <i class=" fa-solid fa-eye vision-i"></i>
            <h3>Visión de la agencia</h3>
        </div>
        <br>
        <p>Ser reconocida como una agencia de publicidad líder, innovadora y confiable, que ofrece soluciones creativas y estratégicas para impulsar el éxito de nuestros clientes en el competitivo mundo de la comunicación y el marketing.</p>
    </div>

    <div class="div-vision-mg">
        <div class="section-vision-flex ">
            <i class=" fa-solid fa-fire vision-i"></i>
            <h3>Misión de la agencia</h3>
        </div>
        <br>
        <p>Nuestra misión es brindar a nuestros clientes servicios de publicidad de alta calidad, orientados a resultados y adaptados a sus necesidades específicas. Nos esforzamos por crear campañas creativas e impactantes que generen valor, aumenten la visibilidad de las marcas y conecten de manera efectiva con su audiencia objetivo. Trabajamos en estrecha colaboración con nuestros clientes, utilizando estrategias de vanguardia y tecnología innovadora para alcanzar y superar sus objetivos de marketing y comunicación.</p>
    </div>

</section>

<section class="section footer section-footer " id="footer" >
    <footer class="footer-grid-flex">

        <div class="footer-card footer-card-center">
            <img class="footer-img" src="/img/favicon.svg" alt="">
            <br>
            <p> En nuestra agencia de marketing y publicidad, nos comprometemos con nuestros clientes para ofrecer soluciones y estrategias que ayuden a hacer crecer su negocio en Internet</p>
        </div>

        <div class="footer-card">
            <h3>Datos de Contacto</h3>
            <li>
                <ul class="footer-flex-ul">
                    <i class="fa-solid fa-fish-fins"></i>
                    <a class="footer-block-a" href="tel:505 58567432">58567432</a>
                </ul>
                <ul class="footer-flex-ul">
                    <i class="fa-solid fa-fish-fins"></i>
                    <a class="footer-block-a" href = "mailto: abc@example.com">Send Email</a>
                </ul>
            </li>
        </div>

        <div class="footer-card">
            <h3>Link de interes</h3>
            <li>
                <ul class="footer-flex-ul"><i class="fa-solid fa-fish-fins"></i><a class="footer-block-a" href="/info/">Branding</a></ul>
                <ul class="footer-flex-ul"><i class="fa-solid fa-feather-pointed"></i><a class="footer-block-a" href="/info/">Image</a></ul>
                <ul class="footer-flex-ul"><i class="fa-solid fa-hippo"></i><a class="footer-block-a" href="/info/">Vídeo</a></ul>
                <ul class="footer-flex-ul"><i class="fa-solid fa-dragon"></i><a class="footer-block-a" href="/info/">Web</a></ul>
                <ul class="footer-flex-ul"><i class="fa-solid fa-otter"></i><a class="footer-block-a" href="/info/">Ads</a></ul>
                <ul class="footer-flex-ul"><i class="fa-solid fa-spider"></i><a class="footer-block-a" href="/info/">Data</a></ul>
            </li>
        </div >

        <div class="footer-card">
            <h3>siguenos</h3>
            <li class="footer-div-4-flex">
                <ul><a href="footer-div-4-i"><i class="footer-div-4-i fa-brands fa-facebook"></i></a></ul>
                <ul><a href="footer-div-4-i"><i class="footer-div-4-i fa-brands fa-instagram"></i></a></ul>
                <ul><a href="footer-div-4-i"><i class="footer-div-4-i fa-brands fa-twitter"></i></a></ul>
                <ul><a href="footer-div-4-i"><i class="footer-div-4-i fa-brands fa-twitter"></i></a></ul>
                <ul><a href="footer-div-4-i"><i class="footer-div-4-i fa-solid fa-pen-nib"></i></a></ul>                
            </li>
        </div>

    </footer>
</section>

<section class="section credits section-credits" id="credits">
    <div class="section-credits-flex">
        <img class="credits-img" src="/img/favicon.svg" alt="julioricardo95">
        <span class="credits-span">Powered by julioricardo95</span>
    </div>
</section>