<!-- PÁGINA SERVICIOS-->
<section class="section section-services  servicios" id="services">

  <div class="servicio">
    <h2>servicios</h2>
  </div>

  <!-- inicio de servicios  -->

  <div class="container">

    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/branding.jpg" alt="brandig" />
      </div>
      <div class="details">
        <h3>brandig</h3>
        <p>
          Una marca es lo que te idéntica y te hace diferente un buen nombre o
          un logo que con solo verlo ya sepan quién eres
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img
          class="img"
          src="/img/Contenido_visual.jpg"
          alt="contenido visual"
        />
      </div>
      <div class="details">
        <h3>contenido visual</h3>
        <p>
          De todo lo que necesites en ilustraciones ,post ,catálogos entre otros
          contenidos que puedas necesitar para tu empresa
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/video_marketing.jpg" alt="video marketing" />
      </div>
      <div class="details">
        <h3>video marketing</h3>
        <p>
          Desde la creación y la edición de audiovisuales en todo lo que
          necesites short de 15 segundos a mas
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/Web.jpg" alt="servicios_web" />
      </div>
      <div class="details">
        <h3>derrollo web</h3>
        <p>
          Nos encargamos de hacer páginas web con WordPress para comercio
          electrónico o de otros tipo y que cumpla con tus necesidades
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/ads.jpg" alt="ads" />
      </div>
      <div class="details">
        <h3>ads</h3>
        <p>
          Perfecto para darse a conocer en poco tiempo ,un rápido empujón en las
          ventas o los objetivos que establezcas
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/email_marketing.jpg" alt="email marketing" />
      </div>
      <div class="details">
        <h3>email marketing</h3>
        <p>
          Perfecto para la fidelidad de los clientes con promociones y cupones
          de descuentos entre otros
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/guerrilla.jpg" alt="guerra de guerrillas" />
      </div>
      <div class="details">
        <h3>guerra de guerrillas</h3>
        <p>
          Mini campañas de publicidad en todas las redes sociales haciendo uso
          de todas las herramientas disponibles
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/datos.jpg" alt="datos" />
      </div>
      <div class="details">
        <h3>datos</h3>
        <p>
          interpolación de los datos que necesites, generamos informes,
          proyecciones de ventas etc. entre otros
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img class="img" src="/img/info.jpg" alt="mas info" />
      </div>
      <div class="details">
        <h3>mas info</h3>
        <p>Informacion mas detallada de los</p>
        <a class="botton_info" href="/info">info</a>
      </div>
    </div>
  </div>
</section>
