<div class="header-navigation header-info">

    <!--Logo-->
    <div class="header-navigation-logo header-section-flex header-section-logo">
      <a class="" href="/">
        <img class="header-logo" src="/img/favicon.svg" alt="julioricardo95" />
      </a>
    </div>

    <!--Navegacion-->
    <div class="header-navigation-bar header-section-flex header-section-navegation">
      <ul class="header-section-ul section_nav_list">

        <li class="header-section-li">
          <a class="header-section-a" href="#marca">Marca</a>
        </li>

        <li class="header-section-li ">
          <a class="header-section-a " href="#web">Web</a>
        </li>

        <li class="header-section-li ">
          <a class="header-section-a " href="#datos">Datos</a>
        </li>
        
        <li class="header-section-li header-flex">

         
          <i class="header-section-a header-mg-i dark-botton fa-solid fa-sun " id="dark-botton"></i>
          
          
          <a class="header-section-a header-mg-i" href="/info">
            <i class="fa-solid fa-info"></i>
          </a>

          <a class="header-section-a header-mg-i" href="/es">
            <i class=" fa-solid fa-language " ></i>
          </a>
          
        </li>

      </ul>
    </div>

    <!---menu-botton -->
    <div class="header-navigation-menu header-section-flex bx bx-menu" id="menu-icon"></div>
    <!-- end navbar-->
    
  </div>